@model Employee

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/Images/" + (Model.PhotoPath ?? "avatar.png");
}

<h1>Details</h1>
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h3>@Model.Name</h3>
            </div>
            <div class="card-body text-center">
                <img class="imageThumbnail" src="@photoPath" asp-append-version="true" />
                <h4>Employee Id : @Model.Id</h4>
                <h4>Email : @Model.Email</h4>
                <h4>Department : @Model.Department </h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="GetAllEmployee" class="btn btn-primary">Back</a>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Id"
                   class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

   <div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
